/* Rounded Design */
.rounded-btn-style .btn-group.tab-btn {
    border-radius: 50px;
    border: 1px solid #2c3b5b;
    background: #2c3b5b
}

.rounded-btn-style label.btn.btn-primary.active.save-search-active, .rounded-btn-style.save-search-active1 label.btn.btn-primary.active {
    border-radius: 50px !important;
}

.rounded-btn-style label.btn.btn-primary.save-search-active, .rounded-btn-style label.btn.btn-primary.active {
    border-radius: 50px !important;
    background: #fed700 !important;
    color: #2c3b5b
}

.rounded-btn-style label.btn.btn-primary.active svg g {
    fill: #2c3b5b !important
}

.rounded-btn-style label.btn.btn-primary {
    background: transparent;
    border-radius: 50px !important;
    border: 0 !important;
    padding: 2px 12px !important;
    color: #fed700
}

a.border-n-round label {
    border-radius: 50px;
}

.radio-button.list-grid.view-icon-diamond {
    border-radius: 50px;
    border: 1px solid #2c3b5b;
    padding-left: 0px
}

.radio-button.list-grid.view-icon-diamond label.btn.btn-primary.active.save-search-active:last-child {
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 50px;
}

.radio-button.list-grid.view-icon-diamond .btn.btn-primary {
    background: transparent;
}

.radio-button.list-grid.view-icon-diamond .btn.btn-primary i {
    color: #2c3b5b;
    font-size: 19px;
}

.radio-button.list-grid.view-icon-diamond label.btn.btn-primary.save-search-active i {
    color: #fed700
}

.rounded-style input {
    width: 100% !important;
    border-radius: 50px !important;
}

.check-dimaond-grid {
    display: flex;
    gap: 7px;
    align-items: center;
}

.center-search-mobile select {
    border: 1px solid #2c3b5b;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 7px 10px;
    height: 40px;
}

.check-dimaond-grid input {
    margin-top: 0 !important;
}

.rounded-btn-style label.btn.btn-primary path.st0, .rounded-btn-style label.btn.btn-primary g {
    fill: #Fed700 !important;
}

.rounded-btn-style.filter-btn-svg label.btn.btn-primary svg path {
    fill: #Fed700 !important;
}

.rounded-btn-style.filter-btn-svg label.btn.btn-primary.active.save-search-active svg path, .rounded-btn-style.filter-btn-svg.save-search-active1 label.btn.btn-primary.active svg path {
    fill: #2c3b5b !important;
}

.rounded-btn-style label.btn.btn-primary.active.save-search-active path.st0, .rounded-btn-style label.btn.btn-primary.active.save-search-active g, .rounded-btn-style.save-search-active1 label.btn.btn-primary.active path.st0, .rounded-btn-style.save-search-active1 label.btn.btn-primary.active g {
    fill: #2c3b5b !important;
}

.dia-filter .filter-title .rounded-btn-style .btn-primary {
    color: #Fed700
}

.dia-filter .filter-title .rounded-btn-style .btn-primary {
    color: #Fed700
}

.center-search-mobile {
    border-radius: 50px;
    border: 1px solid #2c3b5b;
    background: #2c3b5b;
    padding: 0
}

.center-search-mobile select, .center-search-mobile span a {
    border: 0 !important
}

.center-search-mobile select#filter_list {
    background: #fed700;
    font-size: 16px !important
}

.dia-input .above-diamond-type-div-class .btn-group .btn {
    font-size: 16px !important;
    display: flex;
    align-items: center;
}